---
interface Props {
  url: string;
  title?: string;
}

const { url, title = "Video" } = Astro.props;

function getEmbedUrl(url: string): string {
  // YouTube
  const ytMatch = url.match(/(?:youtube\.com\/watch\?v=|youtu\.be\/)([\w-]+)/);
  if (ytMatch) return `https://www.youtube-nocookie.com/embed/${ytMatch[1]}`;

  // Vimeo
  const vimeoMatch = url.match(/vimeo\.com\/(\d+)/);
  if (vimeoMatch) return `https://player.vimeo.com/video/${vimeoMatch[1]}`;

  return url;
}

const embedUrl = getEmbedUrl(url);
---

<div class="relative aspect-video w-full overflow-hidden rounded-lg">
  <iframe
    src={embedUrl}
    title={title}
    class="absolute inset-0 h-full w-full"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
